Flask==0.11.1
git+git://github.com/rickmer/flask-captcha.git
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.1
Flask-Security==1.7.5
Flask-Testing==0.6.1
Flask-WTF==0.13.1
Jinja2==2.8
Markdown==2.6.7
MarkupSafe==0.23
Pillow==3.4.2
PySocks==1.5.7
SQLAlchemy==1.1.3
WTForms==2.1
Werkzeug==0.11.11
blessings==1.6
blinker==1.4
click==6.6
httplib2==0.9.2
itsdangerous==0.24
lxml==3.6.4
passlib==1.6.5
phonenumbers==7.7.3
py==1.4.31
python-daemon==2.1.2
pytest==3.0.3
pytz==2016.7
six==1.10.0
twilio==5.6.0
uWSGI==2.0.14
