{% extends "index.html" %}
{% block content %}
{% from "security/_macros.html" import render_field_with_errors %}
<div class="row">
    <div class="well well-lg">
        <h4>Add Campaign</h4><hr>
        <form id="campaign_add_form" action="/campaign/add" method="POST">
            {{ form.hidden_tag() }}
            {{ render_field_with_errors(form.name) }}
            {{ render_field_with_errors(form.description) }}
            {{ render_field_with_errors(form.target_minutes) }}
            {{ render_field_with_errors(form.campaign_text) }}
            <div class="form-group">
                <label>{{ form.id_audience.label }}</label>
                <select class="form-control" name="{{ form.id_audience.name }}">
                    {% for audience in audiences %}
                    <option {% if audience.id==form.id_audience.data %} selected=yes {% endif %} value="{{ audience.id }}">
                        {{ audience.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <button class="btn btn-info" onclick="window.location.href='/campaigns';">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <button class="btn btn-primary" onclick="$('#campaign_add_form').submit();">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
    </div>
</div>
{% endblock %}