{% extends "index.html" %}
{% block content %}
{% from "security/_macros.html" import render_field_with_errors %}
<div class="row">
    <div class="well well-lg">
        <form id="campaign_edit_form" action="/campaign/edit/{{ form.id.data }}" method="POST">
            {{ render_field_with_errors(form.id, readonly=yes) }}
            {{ render_field_with_errors(form.name) }}
            {{ render_field_with_errors(form.description) }}
            {{ render_field_with_errors(form.target_minutes) }}
            <div class="form-group">
                <label>{{ form.id_audience.label }}</label>
                <select class="form-control" name="{{ form.id_audience.name }}">
                    {% for audience in audiences %}
                    <option {% if audience.id==form.id_audience.data %} selected=yes {% endif %} value="{{ audience.id }}">
                        {{ audience.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

        </form>
        <button class="btn btn-info" onclick="window.location.href='/campaigns';">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <button class="btn btn-primary" onclick="$('#campaign_edit_form').submit();">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
        <button class="btn btn-danger" onclick="$.ajax({url: '/campaign/edit/{{ form.id.data }}',
                                                        type: 'DELETE',
                                                        success: function() { window.location.href='/campaigns'; }});">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
</div>
{% endblock %}