<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
        <script src="{{ url_for('static', filename='jquery/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/captcha.js') }}"></script>
        <script type="application/javascript">$(document).ready(function () {refresh_captcha();})</script>
    </head>
    <body>
        {% from "_macros.html" import render_captcha, render_info_bulletin, render_info_bulletin_xs, render_phone_input_group %}
        <div class="row">
            <a href="/{{ campaign }}" class="pull-right" style="margin-right: 25px; margin-top: 5px;" target="_parent">CallForDemocracy.org</a>
            <form id="CallForm" class="form" method="POST" role="form" action="/{{ campaign }}">
                {{ form.hidden_tag() }}
                <div class="well well-lg">
                    <div class="media-object visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
                        <div class="media-left">
                            <img class="img-thumbnail" style="max-width: 300px; max-height: 300px;" src="{{ url_for('static', filename='images/'+ record.image) }}">
                            <div class="small">{{ record.license}}</div>
                        </div>
                        <div class="media-body">
                            {{ render_info_bulletin(record) }}
                            {{ render_phone_input_group(form, record) }}
                            <p>
                                <button id="CallButton" class="btn btn-primary">Anrufen!</button>
                                <a href="/{{ campaign }}" class="btn btn-info">jemand anderen anrufen ...</a>
                            </p>
                        </div>
                    </div>
                    <div class="visible-xs-block">
                        {{ render_info_bulletin_xs(record) }}
                        {{ render_phone_input_group(form, record) }}
                        <button id="CallButton" class="btn btn-primary btn-block">Anrufen!</button>
                        <a href="/{{ campaign }}" class="btn btn-info btn-block">jemand anderen anrufen ...</a>
                </div>
                    {{ render_captcha(form) }}
                </div>
            </form>
        </div>
    </body>
</html>